/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Normalizing CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: rgb(0, 0, 0);
    --CTA: rgb(139, 69, 156);
}

body {
    background-color: var(--primary-bg);

    /* Set basic font styling */
    font-family: Aboreto;
    color: white;
}

a {
    font-family: Inter;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

/* Main site wrapper */
.site-wrapper {
    margin: 0 auto;
    padding: 0rem 2rem 0rem;
}

/* Hero section starts here */
.site-wrapper--hero {
    padding: 0;
}

.hero {
    max-width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;

    background-image: url(https://images.unsplash.com/photo-1668681919287-7367677cdc4c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0rem;

    a {
        font-size: 20px;
    }
}

.hero__title-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.hero__title {
    text-align: center;
    font-size: 64px;
}
/* hero section ends here */

/* About grid starts here */

.about {
    max-width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.about__title-container {
    display: flex;
    justify-content: center;
}

.about__title {
    font-size: 40px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 4rem;
}

.about__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2rem;
    padding: 1rem;

    font-family: Inter;

    background-color: black;
    border-radius: 50px;
    width: 25rem;
    height: 20rem;
    filter: drop-shadow(0px 5px 4px var(--CTA));
}

.about__card-heading {
    font-size: 24px;
}

.about__card-info {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

/* About grid ends here */

/* Break starts here */
.break {
    max-width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.break__title {
    font-size: 40px;
}
/* Break ends here */

.showcase {
    max-width: 100vw;
}

.showcase__container {
    display: flex;
}

.showcase__card {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 4rem;
    padding: 2rem;
}

.showcase__card-title {
    font-size: 40px;
}

.showcase__card-text {
    font-size: 20px;
    font-family: Inter;
    font-weight: 200;
    max-width: 70%;
}

.showcase__button {
    font-family: Inter;
    font-size: 20px;
    color: white;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border-radius: 50px;
    background-color: black;

    border-style: solid;
    border-color: var(--CTA);
}

.showcase__button:hover {
    background-color: var(--CTA);
}
