/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*Image credits: 
Hero background image & CTA: Pawel Czerwinski
Showcase background image: Getty Images
Booking page image: Vojtech Bruzek
*/
/* Normalizing CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Easy to use variables for colors */
    --primary-bg: rgb(0, 0, 0);
    --CTA: rgb(139, 69, 156);
}

body {
    background-color: var(--primary-bg);

    /* Set basic font styling */
    font-family: Aboreto;
    color: white;
}

a {
    /* I hate A-links with shitty user-agent styling */
    font-family: Inter;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* Main site wrapper */
.site-wrapper {
    margin: 0 auto;
    padding: 0rem 2rem 0rem;
}

/* Hero section starts here */
.site-wrapper--hero {
    padding: 0;
}

.hero {
    max-width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;

    background-image: url(https://images.unsplash.com/photo-1668681919287-7367677cdc4c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;

    .hero__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;

        .hero__logo-container {
            grid-column: auto / span 1;
            width: 10rem;

            .hero__logo {
                max-width: 100%;
            }
        }

        .hero__link-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            grid-column: 2 / span 1;
        }

        a {
            font-size: 20px;
        }
    }
}

.hero__title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;

    .hero__title {
        text-align: center;
        font-size: 64px;
    }

    .hero__sub-title {
        text-align: center;
    }
}
/* hero section ends here */

/* About grid starts here */

.about {
    max-width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    .about__title-container {
        display: flex;
        justify-content: center;

        .about__title {
            font-size: 40px;
        }
    }

    .about__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        .about__card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: 2rem;
            padding: 1rem;

            font-family: Inter;

            background-color: black;
            border-radius: 50px;
            width: 80%;
            height: 20rem;
            filter: drop-shadow(0px 5px 4px var(--CTA));

            .about__card-heading {
                font-size: 24px;
            }

            .about__card-info {
                font-weight: 200;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

/* About grid ends here */

/* Break starts here */
.break {
    max-width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .break__title {
        font-size: 40px;
    }
}

/* Break ends here */
/* Showcase starts here */
.showcase {
    max-width: 100vw;

    .showcase__container {
        display: flex;

        .showcase__card {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            gap: 4rem;
            padding: 2rem;

            .showcase__card-title {
                font-size: 40px;
            }

            .showcase__card-text {
                font-size: 20px;
                font-family: Inter;
                font-weight: 200;
                max-width: 70%;
            }

            .showcase__button {
                font-family: Inter;
                font-weight: 300;
                font-size: 20px;
                color: white;
                cursor: pointer;
                width: 10rem;
                height: 3rem;
                border-radius: 50px;
                background-color: black;

                border-style: solid;
                border-color: var(--CTA);
                text-align: center;
                padding: 0.5rem 0rem;
            }

            .showcase__button:hover {
                text-decoration: none;
                background-color: var(--CTA);
            }
        }
    }
}
/* Showcase ends here */

/* CTA starts here */
.cta__container {
    max-width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(https://images.unsplash.com/photo-1669295384050-a1d4357bd1d7?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;

    .cta__title-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
        height: 100%;
        align-items: center;

        .cta__title {
            text-align: center;
            font-size: 48px;
        }

        .cta__button {
            font-family: Inter;
            font-weight: 300;
            font-size: 20px;
            color: white;
            cursor: pointer;
            width: 10rem;
            height: 3rem;
            border-radius: 50px;
            background-color: var(--CTA);
            text-align: center;
            padding: 0.7rem 0rem;

            border-style: none;
        }

        .cta__button:hover {
            text-decoration: none;
        }
    }
}

.cta__container--aboutus {
    background-image: none;
}
/* CTA ends here */
/* Main page content completed*/

/* Start BOOKING page content */

.hero--booking {
    background-image: none;
    height: 30vh;
}

.booking {
    .booking__container {
        height: 100%;
        .booking__grid {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);

            .booking__card {
                grid-column: auto / span 1;

                display: flex;

                height: 90%;
                width: 100%;

                background-color: black;
                filter: drop-shadow(0px 3px 4px var(--CTA));
                border-radius: 50px;

                overflow: hidden;

                .booking__card-divider {
                    width: 100%;
                    .booking__card-grid {
                        display: grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-template-rows: repeat(6, 1fr);
                        height: 100%;

                        padding: 2rem;

                        .booking__info {
                            font-family: Inter;
                            color: rgb(178, 178, 178);
                        }

                        .booking__heading {
                            grid-column: auto / span 7;
                            font-size: 28px;
                        }

                        .booking__price-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            grid-column: 5 / span 3;
                            grid-row: 4 / span 2;
                            gap: 0.5rem;

                            .booking__price {
                                font-size: 32px;
                            }
                        }

                        .booking__details {
                            grid-column: 1 / span 6;
                        }

                        .booking__button {
                            grid-column: 1 / span 7;
                            grid-row: 6 / span 1;
                            font-family: Inter;
                            font-size: 20px;
                            font-weight: 300;
                            color: white;
                            cursor: pointer;
                            width: 100%;
                            border-radius: 50px;
                            background-color: black;
                            padding: 0.5rem 0rem;

                            border-style: solid;
                            border-color: var(--CTA);
                            text-align: center;
                            place-self: center;
                        }

                        .booking__button:hover {
                            background-color: var(--CTA);
                            text-decoration: none;
                        }
                    }

                    .booking__img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/* Booking page content completed*/

/* Thank you page start*/
.thankyou {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
/*Thank you page ends*/

.site-wrapper--about {
    background-image: url(https://images.unsplash.com/photo-1669295384050-a1d4357bd1d7?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 40vh;
}

.aboutus {
    height: 100%;
    display: flex;
    justify-content: center;

    .aboutus__container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .aboutus__heading {
            font-size: 32px;
        }

        .aboutus__info {
            max-width: 80%;
            font-family: Inter;
            align-self: center;
        }
    }
}

/* Starting responsiveness */
@media (max-width: 1800px) {
    .booking {
        .booking__container {
            .booking__grid {
                grid-template-columns: repeat(1, 1fr);
                place-items: center;

                .booking__card {
                    height: 90%;
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .hero {
        .hero__nav {
            .hero__logo-container {
                grid-column: auto / span 1;
                width: 10rem;
            }

            .hero__link-container {
                grid-column: 2 / span 2;
            }
        }
    }

    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0rem;
        padding: 8rem 0rem;

        .about__title-container {
            grid-column: auto / span 3;
            grid-row: 1 / span 1;
        }

        .about__grid {
            gap: 2rem;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .about__card {
                grid-column: auto / span 3;
                width: 90%;
            }
        }

        .about__card:last-child {
            grid-row: 2 / span 2;
            grid-column: 2 / span 4;
        }
    }

    .showcase {
        .showcase__container {
            flex-direction: column;
            align-items: center;

            .showcase__card {
                text-align: center;
                align-items: center;
                max-width: 80%;

                .showcase__card-text {
                    max-width: 100%;
                }

                .showcase__img {
                    max-width: 100%;
                }
            }
        }
    }

    .booking {
        .booking__container {
            .booking__grid {
                grid-template-columns: repeat(12, 1fr);
                place-items: center;

                .booking__card {
                    grid-column: 2 / span 10;
                    flex-direction: column;

                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0rem;
        padding: 8rem 0rem;

        .about__title-container {
            grid-column: auto / span 3;
            grid-row: 1 / span 1;
        }

        .about__grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 2rem;
            height: 60vh;

            .about__card {
                grid-column: auto / span 1;
                width: 90%;
                height: 100%;
            }
        }
        .about__card:last-child {
            grid-row: auto / span 1;
        }
    }

    .break {
        text-align: center;
    }

    .showcase {
        .showcase__container {
            .showcase__card {
                padding: 2rem 0rem;

                .showcase__card-text {
                    max-width: 100%;
                }
            }
        }
    }
    .booking {
        .booking__container {
            .booking__grid {
                .booking__card {
                    .booking__card-divider {
                        .booking__card-grid {
                            gap: 0rem;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .hero {
        .hero__nav {
            gap: 2rem;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            .hero__logo-container {
                grid-column: auto / span 1;
                width: 10rem;
            }

            .hero__logo-container {
                place-self: center;
            }

            .hero__link-container {
                grid-column: auto / span 1;
            }
        }

        .hero__title-container {
            .hero__title {
                font-size: 48px;
            }
        }
    }

    .about {
        .about__title-container {
            .about__title {
                font-size: 30px;
            }
        }

        .about__grid {
            .about__card {
                text-align: center;
                gap: 1rem;
                .about__card-heading {
                    font-size: 18px;
                }
                .about__card-info {
                    font-size: 14px;
                }
            }
        }
    }

    .break {
        .break__title {
            font-size: 30px;
        }
    }

    .cta {
        .cta__container {
            .cta__title-container {
                .cta__title {
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
    }

    .aboutus {
        height: 100%;
        display: flex;
        justify-content: center;

        .aboutus__container {
            display: flex;
            gap: 2rem;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .aboutus__heading {
                font-size: 32px;
            }

            .aboutus__info {
                max-width: 80%;
                font-size: 12px;
                align-self: center;
            }
        }
    }
}

@media (max-width: 375px) {
    .hero {
        max-height: 50vh;
        .hero__nav {
            gap: 0rem;
            padding: 1rem 1rem;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .hero__logo-container {
                grid-column: auto / span 1;
                width: 10rem;
            }

            .hero__logo-container {
                place-self: center;
            }

            .hero__link-container {
                grid-column: auto / span 1;
                flex-direction: column;
            }
        }
        .hero__title-container {
            .hero__title {
                font-size: 38px;
            }
            .hero__sub-title {
                display: none;
            }
        }
    }
    .booking {
        padding: 4rem 0rem;
        .booking__container {
            .booking__grid {
                grid-template-columns: repeat(6, 1fr);

                .booking__card {
                    grid-column: 1 / span 6;

                    .booking__card-divider {
                        .booking__card-grid {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 1rem;

                            .booking__price-container {
                                flex-direction: row;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* End of responsiveness */
